{{!< default}}

<section class="posts">
  <ul class="article-list">
    {{#foreach posts }}
    <li class="article-item">
        <div class="article-meta">
            <time class="article-time">{{date published_at format="MMMM Do, YYYY"}}</time>
            <h2 class="article-title"><a href="{{ @blog.url }}{{ url }}">{{ title }}</a></h2>

        </div>
        <p class="excerpt">{{excerpt}}</p>
    </li>
    {{/foreach}}
  </ul>
</section>
